Flask==3.0.0
requests
httpx
urllib3
psutil
pytz
PyJWT
pycryptodome
protobuf
protobuf-decoder
python-telegram-bot==20.7
pyTelegramBotAPI
telebot
cfonts
rich
loguru
google
py7zr
aiogram
flask_cors
cachetools
urllib3
colorama
aiohttp
flask
gunicorn